In [3]:
import pandas as pd

df = pd.read_csv('raw_data/sdg_11.csv')
df

,DATAFLOW,LAST UPDATE,freq,unit,vehicle,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2000,20.8,NaN,NaN
1,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2001,20.6,NaN,NaN
2,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2002,20.6,NaN,NaN
3,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2003,20.5,NaN,NaN
4,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2004,20.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
820,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2015,13.9,NaN,NaN
821,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2016,13.3,NaN,NaN
822,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2017,13.6,e,NaN
823,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2018,13.2,e,NaN
824,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2019,17.3,e,NaN

In [4]:
df.columns = df.columns.str.lower()

df = df.rename(columns={'dataflow': 'source'})

# Make 'geo' coplumn the first column
df = df[['geo', 'time_period', 'obs_value', 'obs_flag', 'source']]

df

                geo  time_period  obs_value obs_flag                source
0           Austria         2000       20.8      NaN  ESTAT:SDG_09_50(1.0)
1           Austria         2001       20.6      NaN  ESTAT:SDG_09_50(1.0)
2           Austria         2002       20.6      NaN  ESTAT:SDG_09_50(1.0)
3           Austria         2003       20.5      NaN  ESTAT:SDG_09_50(1.0)
4           Austria         2004       20.4      NaN  ESTAT:SDG_09_50(1.0)
..              ...          ...        ...      ...                   ...
820  United Kingdom         2015       13.9      NaN  ESTAT:SDG_09_50(1.0)
821  United Kingdom         2016       13.3      NaN  ESTAT:SDG_09_50(1.0)
822  United Kingdom         2017       13.6        e  ESTAT:SDG_09_50(1.0)
823  United Kingdom         2018       13.2        e  ESTAT:SDG_09_50(1.0)
824  United Kingdom         2019       17.3        e  ESTAT:SDG_09_50(1.0)

[825 rows x 5 columns]

In [5]:
df.to_csv('data/sdg_11.csv', index=False)