In [96]:
import pandas as pd

## SDG 3: Good Health and Well-being
[Obesity rate by body mass index (BMI)](https://ec.europa.eu/eurostat/databrowser/view/sdg_02_10/default/table?lang=en&category=sdg.sdg_03)

In [97]:
df_3 = pd.read_csv('raw_data/sdg_3.csv')
df_3.columns = df_3.columns.str.lower()
df_3

,dataflow,last update,freq,unit,bmi,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Pre-obese,Albania,2022,44.8,NaN,NaN
1,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Pre-obese,Austria,2008,36.5,NaN,NaN
2,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Pre-obese,Austria,2014,33.3,NaN,NaN
3,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Pre-obese,Austria,2017,35.0,NaN,NaN
4,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Pre-obese,Austria,2019,35.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
463,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Obese,Türkiye,2014,21.2,NaN,NaN
464,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Obese,Türkiye,2019,22.3,NaN,NaN
465,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Obese,Türkiye,2022,20.1,NaN,NaN
466,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Obese,United Kingdom,2014,20.1,NaN,NaN
467,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Obese,United Kingdom,2017,21.0,u,NaN

**country**: Country name

**year**: Year

**bmi**: BMI

**value**: Value

**source**: Data source / DOI

In [98]:
df_3 = df_3.rename(columns={'geo': 'country'})
df_3 = df_3.rename(columns={'time_period': 'year'})
df_3 = df_3.rename(columns={'obs_value': 'value'})
df_3 = df_3.rename(columns={'dataflow': 'source'})

df_3 = df_3[['country', 'year', 'bmi', 'value', 'source']]

df_3.to_csv('data/sdg_3.csv', index=False)

df_3

            country  year        bmi  value                source
0           Albania  2022  Pre-obese   44.8  ESTAT:SDG_02_10(1.0)
1           Austria  2008  Pre-obese   36.5  ESTAT:SDG_02_10(1.0)
2           Austria  2014  Pre-obese   33.3  ESTAT:SDG_02_10(1.0)
3           Austria  2017  Pre-obese   35.0  ESTAT:SDG_02_10(1.0)
4           Austria  2019  Pre-obese   35.0  ESTAT:SDG_02_10(1.0)
..              ...   ...        ...    ...                   ...
463         Türkiye  2014      Obese   21.2  ESTAT:SDG_02_10(1.0)
464         Türkiye  2019      Obese   22.3  ESTAT:SDG_02_10(1.0)
465         Türkiye  2022      Obese   20.1  ESTAT:SDG_02_10(1.0)
466  United Kingdom  2014      Obese   20.1  ESTAT:SDG_02_10(1.0)
467  United Kingdom  2017      Obese   21.0  ESTAT:SDG_02_10(1.0)

[468 rows x 5 columns]

## SDG 5: Gender Equality

[Persons outside the labour force due to caring responsibilities by sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_05_40/default/table?lang=en&category=sdg.sdg_05)

In [99]:
df_5 = pd.read_csv('raw_data/sdg_5.csv')
df_5.columns = df_5.columns.str.lower()
df_5

,dataflow,last update,freq,reason,sex,age,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2006,1.5,NaN,NaN
1,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2007,1.5,b,NaN
2,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2008,1.6,NaN,NaN
3,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2009,1.5,NaN,NaN
4,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2010,1.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1888,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2015,1.1,NaN,NaN
1889,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2016,1.1,NaN,NaN
1890,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2017,0.9,NaN,NaN
1891,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2018,0.8,NaN,NaN
1892,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2019,0.8,NaN,NaN

**country**: Country name

**year**: Year

**sex**: Sex

**value**: Value

**source**: Data source / DOI

In [100]:
df_5 = df_5.rename(columns={'geo': 'country'})
df_5 = df_5.rename(columns={'time_period': 'year'})
df_5 = df_5.rename(columns={'obs_value': 'value'})
df_5 = df_5.rename(columns={'dataflow': 'source'})

df_5 = df_5[['country', 'year', 'sex', 'value', 'source']]

df_5.to_csv('data/sdg_5.csv', index=False)

df_5

             country  year      sex  value                source
0            Austria  2006  Females    1.5  ESTAT:SDG_05_40(1.0)
1            Austria  2007  Females    1.5  ESTAT:SDG_05_40(1.0)
2            Austria  2008  Females    1.6  ESTAT:SDG_05_40(1.0)
3            Austria  2009  Females    1.5  ESTAT:SDG_05_40(1.0)
4            Austria  2010  Females    1.3  ESTAT:SDG_05_40(1.0)
...              ...   ...      ...    ...                   ...
1888  United Kingdom  2015    Total    1.1  ESTAT:SDG_05_40(1.0)
1889  United Kingdom  2016    Total    1.1  ESTAT:SDG_05_40(1.0)
1890  United Kingdom  2017    Total    0.9  ESTAT:SDG_05_40(1.0)
1891  United Kingdom  2018    Total    0.8  ESTAT:SDG_05_40(1.0)
1892  United Kingdom  2019    Total    0.8  ESTAT:SDG_05_40(1.0)

[1893 rows x 5 columns]

## SDG 8: Decent Work and Economic Growth

[Young people neither in employment nor in education or training (NEET) by sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_08_20/default/table?lang=en&category=sdg.sdg_08)

In [101]:
df_8 = pd.read_csv('raw_data/sdg_8.csv')
df_8.columns = df_8.columns.str.lower()
df_8

,dataflow,last update,freq,sex,age,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2009,11.9,NaN,NaN
1,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2010,11.2,NaN,NaN
2,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2011,10.4,NaN,NaN
3,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2012,10.1,NaN,NaN
4,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2013,10.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1606,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,Türkiye,2019,29.5,NaN,NaN
1607,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,Türkiye,2020,32.0,NaN,NaN
1608,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,Türkiye,2021,28.4,b,NaN
1609,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,Türkiye,2022,27.2,NaN,NaN
1610,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,Türkiye,2023,25.8,NaN,NaN

**country**: Country name

**year**: Year

**sex**: Sex

**value**: Value

**source**: Data source / DOI

In [102]:
df_8 = df_8.rename(columns={'geo': 'country'})
df_8 = df_8.rename(columns={'time_period': 'year'})
df_8 = df_8.rename(columns={'obs_value': 'value'})
df_8 = df_8.rename(columns={'dataflow': 'source'})

df_8 = df_8[['country', 'year', 'sex', 'value', 'source']]

df_8.to_csv('data/sdg_8.csv', index=False)

df_8

      country  year      sex  value                source
0     Austria  2009  Females   11.9  ESTAT:SDG_08_20(1.0)
1     Austria  2010  Females   11.2  ESTAT:SDG_08_20(1.0)
2     Austria  2011  Females   10.4  ESTAT:SDG_08_20(1.0)
3     Austria  2012  Females   10.1  ESTAT:SDG_08_20(1.0)
4     Austria  2013  Females   10.3  ESTAT:SDG_08_20(1.0)
...       ...   ...      ...    ...                   ...
1606  Türkiye  2019    Total   29.5  ESTAT:SDG_08_20(1.0)
1607  Türkiye  2020    Total   32.0  ESTAT:SDG_08_20(1.0)
1608  Türkiye  2021    Total   28.4  ESTAT:SDG_08_20(1.0)
1609  Türkiye  2022    Total   27.2  ESTAT:SDG_08_20(1.0)
1610  Türkiye  2023    Total   25.8  ESTAT:SDG_08_20(1.0)

[1611 rows x 5 columns]

## SDG 9: Industry, Innovation, and Infrastructure

[Share of buses and trains in inland passenger transport](https://ec.europa.eu/eurostat/databrowser/view/sdg_09_50/default/map?lang=en&category=sdg.sdg_09)

In [103]:
df_9 = pd.read_csv('raw_data/sdg_9.csv')
df_9.columns = df_9.columns.str.lower()
df_9

,dataflow,last update,freq,unit,vehicle,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2000,11.0,NaN,NaN
1,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2001,10.9,NaN,NaN
2,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2002,10.9,NaN,NaN
3,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2003,10.9,NaN,NaN
4,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2004,11.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2470,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2015,13.9,NaN,NaN
2471,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2016,13.3,NaN,NaN
2472,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2017,13.6,e,NaN
2473,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2018,13.2,e,NaN
2474,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2019,17.3,e,NaN

**country**: Country name

**year**: Year

**vehicle**: Vehicle

**value**: Value

**source**: Data source / DOI

In [104]:
df_9 = df_9.rename(columns={'geo': 'country'})
df_9 = df_9.rename(columns={'time_period': 'year'})
df_9 = df_9.rename(columns={'obs_value': 'value'})
df_9 = df_9.rename(columns={'dataflow': 'source'})

df_9 = df_9[['country', 'year', 'vehicle', 'value', 'source']]

df_9.to_csv('data/sdg_9.csv', index=False)

df_9

,country,year,vehicle,value,source
0,Austria,2000,"Motor coaches, buses and trolley buses",11.0,ESTAT:SDG_09_50(1.0)
1,Austria,2001,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
2,Austria,2002,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
3,Austria,2003,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
4,Austria,2004,"Motor coaches, buses and trolley buses",11.0,ESTAT:SDG_09_50(1.0)
...,...,...,...,...,...
2470,United Kingdom,2015,"Trains, motor coaches, buses and trolley buses...",13.9,ESTAT:SDG_09_50(1.0)
2471,United Kingdom,2016,"Trains, motor coaches, buses and trolley buses...",13.3,ESTAT:SDG_09_50(1.0)
2472,United Kingdom,2017,"Trains, motor coaches, buses and trolley buses...",13.6,ESTAT:SDG_09_50(1.0)
2473,United Kingdom,2018,"Trains, motor coaches, buses and trolley buses...",13.2,ESTAT:SDG_09_50(1.0)
2474,United Kingdom,2019,"Trains, motor coaches, buses and trolley buses...",17.3,ESTAT:SDG_09_50(1.0)

## SDG 11: Sustainable Cities and Communities
[Share of buses and trains in inland passenger transport](https://ec.europa.eu/eurostat/databrowser/view/sdg_09_50/default/table?lang=en&category=sdg.sdg_11)

In [105]:
df_11 = pd.read_csv('raw_data/sdg_11.csv')
df_11.columns = df_11.columns.str.lower()
df_11

,dataflow,last update,freq,unit,vehicle,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2000,11.0,NaN,NaN
1,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2001,10.9,NaN,NaN
2,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2002,10.9,NaN,NaN
3,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2003,10.9,NaN,NaN
4,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2004,11.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2470,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2015,13.9,NaN,NaN
2471,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2016,13.3,NaN,NaN
2472,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2017,13.6,e,NaN
2473,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2018,13.2,e,NaN
2474,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2019,17.3,e,NaN

**country**: Country name

**year**: Year

**value**: Value

**source**: Data source / DOI

In [106]:
df_11 = df_11.rename(columns={'geo': 'country'})
df_11 = df_11.rename(columns={'time_period': 'year'})
df_11 = df_11.rename(columns={'obs_value': 'value'})
df_11 = df_11.rename(columns={'dataflow': 'source'})

df_11 = df_11[['country', 'year', 'vehicle', 'value', 'source']]

df_11.to_csv('data/sdg_11.csv', index=False)

df_11

,country,year,vehicle,value,source
0,Austria,2000,"Motor coaches, buses and trolley buses",11.0,ESTAT:SDG_09_50(1.0)
1,Austria,2001,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
2,Austria,2002,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
3,Austria,2003,"Motor coaches, buses and trolley buses",10.9,ESTAT:SDG_09_50(1.0)
4,Austria,2004,"Motor coaches, buses and trolley buses",11.0,ESTAT:SDG_09_50(1.0)
...,...,...,...,...,...
2470,United Kingdom,2015,"Trains, motor coaches, buses and trolley buses...",13.9,ESTAT:SDG_09_50(1.0)
2471,United Kingdom,2016,"Trains, motor coaches, buses and trolley buses...",13.3,ESTAT:SDG_09_50(1.0)
2472,United Kingdom,2017,"Trains, motor coaches, buses and trolley buses...",13.6,ESTAT:SDG_09_50(1.0)
2473,United Kingdom,2018,"Trains, motor coaches, buses and trolley buses...",13.2,ESTAT:SDG_09_50(1.0)
2474,United Kingdom,2019,"Trains, motor coaches, buses and trolley buses...",17.3,ESTAT:SDG_09_50(1.0)

## SDG 12: Responsible Consumption and Production

[Consumption footprint](https://ec.europa.eu/eurostat/databrowser/view/sdg_12_31/default/map?lang=en&category=sdg.sdg_12)

In [107]:
df_12 = pd.read_csv('raw_data/sdg_12.csv')
df_12.columns = df_12.columns.str.lower()
df_12

,dataflow,last update,freq,cons_fp,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2010,3.43,NaN,NaN
1,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2011,3.44,NaN,NaN
2,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2012,3.36,NaN,NaN
3,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2013,3.37,NaN,NaN
4,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2014,3.36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
723,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2018,0.67,NaN,NaN
724,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2019,0.67,NaN,NaN
725,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2020,0.67,NaN,NaN
726,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2021,0.68,NaN,NaN
727,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2022,0.73,NaN,NaN

**country**: Country name

**year**: Year

**unit**: Unit

**value**: Value

**source**: Data source / DOI

In [108]:
df_12 = df_12.rename(columns={'geo': 'country'})
df_12 = df_12.rename(columns={'time_period': 'year'})
df_12 = df_12.rename(columns={'obs_value': 'value'})
df_12 = df_12.rename(columns={'dataflow': 'source'})

df_12 = df_12[['country', 'year', 'unit', 'value', 'source']]

df_12.to_csv('data/sdg_12.csv', index=False)

df_12

      country  year                unit  value                source
0     Austria  2010  Planetary Boundary   3.43  ESTAT:SDG_12_31(1.0)
1     Austria  2011  Planetary Boundary   3.44  ESTAT:SDG_12_31(1.0)
2     Austria  2012  Planetary Boundary   3.36  ESTAT:SDG_12_31(1.0)
3     Austria  2013  Planetary Boundary   3.37  ESTAT:SDG_12_31(1.0)
4     Austria  2014  Planetary Boundary   3.36  ESTAT:SDG_12_31(1.0)
..        ...   ...                 ...    ...                   ...
723  Slovakia  2018      Per inhabitant   0.67  ESTAT:SDG_12_31(1.0)
724  Slovakia  2019      Per inhabitant   0.67  ESTAT:SDG_12_31(1.0)
725  Slovakia  2020      Per inhabitant   0.67  ESTAT:SDG_12_31(1.0)
726  Slovakia  2021      Per inhabitant   0.68  ESTAT:SDG_12_31(1.0)
727  Slovakia  2022      Per inhabitant   0.73  ESTAT:SDG_12_31(1.0)

[728 rows x 5 columns]

## SDG 16: Peace, Justice, and Strong Institutions

[Population reporting occurrence of crime](https://ec.europa.eu/eurostat/databrowser/view/sdg_16_20/default/map?lang=en&category=sdg.sdg_16)

In [109]:
df_16 = pd.read_csv('raw_data/sdg_16.csv')
df_16.columns = df_16.columns.str.lower()
df_16

,dataflow,last update,freq,hhtyp,incgrp,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2017,0.5,NaN,NaN
1,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2018,1.0,NaN,NaN
2,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2019,0.7,NaN,NaN
3,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2020,0.7,NaN,NaN
4,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Austria,2004,9.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1915,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2015,16.6,NaN,NaN
1916,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2016,16.8,NaN,NaN
1917,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2017,20.3,bu,NaN
1918,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2018,24.2,u,NaN
1919,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,Kosovo*,2018,2.4,NaN,NaN

**country**: Country name

**year**: Year

**incgrp**: Income group

**value**: Value

**source**: Data source / DOI

In [110]:
df_16 = df_16.rename(columns={'geo': 'country'})
df_16 = df_16.rename(columns={'time_period': 'year'})
df_16 = df_16.rename(columns={'obs_value': 'value'})
df_16 = df_16.rename(columns={'dataflow': 'source'})

df_16 = df_16[['country', 'year', 'incgrp', 'value', 'source']]

df_16.to_csv('data/sdg_16.csv', index=False)

df_16

,country,year,incgrp,value,source
0,Albania,2017,Above 60% of median equivalised income,0.5,ESTAT:SDG_16_20(1.0)
1,Albania,2018,Above 60% of median equivalised income,1.0,ESTAT:SDG_16_20(1.0)
2,Albania,2019,Above 60% of median equivalised income,0.7,ESTAT:SDG_16_20(1.0)
3,Albania,2020,Above 60% of median equivalised income,0.7,ESTAT:SDG_16_20(1.0)
4,Austria,2004,Above 60% of median equivalised income,9.5,ESTAT:SDG_16_20(1.0)
...,...,...,...,...,...
1915,United Kingdom,2015,Total,16.6,ESTAT:SDG_16_20(1.0)
1916,United Kingdom,2016,Total,16.8,ESTAT:SDG_16_20(1.0)
1917,United Kingdom,2017,Total,20.3,ESTAT:SDG_16_20(1.0)
1918,United Kingdom,2018,Total,24.2,ESTAT:SDG_16_20(1.0)
1919,Kosovo*,2018,Total,2.4,ESTAT:SDG_16_20(1.0)