In [ ]:
import os
import pandas as pd

dir0 = 'data0/'
dir1 = 'data1/'

def rename_columns(dir0, dir1):
    for file in os.listdir(dir0):
        if file.endswith('.csv'):
            df = pd.read_csv(dir0 + file)
            df.columns = df.columns.str.lower()
            df.rename(columns={'geo': 'country', 'time_period': 'year', 'obs_value': 'value'}, inplace=True)
            df.drop(columns=['dataflow', 'last update', 'freq', 'obs_flag', 'conf_status'], inplace=True, errors='ignore')
            df.to_csv(dir1 + file, index=False)
            df.to_json('json_files/' + file.replace('.csv', '.json'), orient='records')

rename_columns(dir0, dir1)

In [ ]:
df = pd.read_csv(dir1 + 'sdg_06_10.csv')

df

,unit,hhtyp,incgrp,sex,age,country,year,value
0,Percentage,Total,Above 60% of median equivalised income,Total,Total,Albania,2017,2.1
1,Percentage,Total,Above 60% of median equivalised income,Total,Total,Albania,2018,3.4
2,Percentage,Total,Above 60% of median equivalised income,Total,Total,Albania,2019,2.3
3,Percentage,Total,Above 60% of median equivalised income,Total,Total,Albania,2020,2.3
4,Percentage,Total,Above 60% of median equivalised income,Total,Total,Austria,2003,0.6
...,...,...,...,...,...,...,...,...
1813,Percentage,Total,Total,Total,Total,United Kingdom,2015,0.4
1814,Percentage,Total,Total,Total,Total,United Kingdom,2016,0.3
1815,Percentage,Total,Total,Total,Total,United Kingdom,2017,0.0
1816,Percentage,Total,Total,Total,Total,United Kingdom,2018,0.1
1817,Percentage,Total,Total,Total,Total,Kosovo*,2018,1.5