In [5]:
import pandas as pd

## SDG 3: Good Health and Well-being
[Obesity rate by body mass index (BMI)](https://ec.europa.eu/eurostat/databrowser/view/sdg_02_10/default/table?lang=en&category=sdg.sdg_03)

In [6]:
df_3 = pd.read_csv('raw_data/sdg_3.csv')
df_3

,DATAFLOW,LAST UPDATE,freq,unit,bmi,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Albania,2022,57.4,NaN,NaN
1,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Austria,2008,49.3,NaN,NaN
2,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Austria,2014,48.0,NaN,NaN
3,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Austria,2017,50.0,NaN,NaN
4,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Austria,2019,52.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
151,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Türkiye,2014,56.5,NaN,NaN
152,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Türkiye,2019,58.8,NaN,NaN
153,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,Türkiye,2022,58.5,NaN,NaN
154,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,United Kingdom,2014,55.7,NaN,NaN
155,ESTAT:SDG_02_10(1.0),01/10/24 23:00:00,Annual,Percentage,Overweight,United Kingdom,2017,56.1,u,NaN

**country**: Country name

**year**: Year

**value**: Value

**obs**: Observation flag. (e): estimated, (b): break in time series, (m): missing

**source**: Data source / DOI

In [10]:
df_3.columns = df_3.columns.str.lower()

df_3 = df_3.rename(columns={'geo': 'country'})
df_3 = df_3.rename(columns={'time_period': 'year'})
df_3 = df_3.rename(columns={'obs_value': 'value'})
df_3 = df_3.rename(columns={'obs_flag': 'obs'})
df_3 = df_3.rename(columns={'dataflow': 'source'})

df_3 = df_3[['country', 'year', 'bmi', 'value', 'obs', 'source']]

df_3.to_csv('data/sdg_3.csv', index=False)

df_3

            country  year         bmi  value  obs                source
0           Albania  2022  Overweight   57.4  NaN  ESTAT:SDG_02_10(1.0)
1           Austria  2008  Overweight   49.3  NaN  ESTAT:SDG_02_10(1.0)
2           Austria  2014  Overweight   48.0  NaN  ESTAT:SDG_02_10(1.0)
3           Austria  2017  Overweight   50.0  NaN  ESTAT:SDG_02_10(1.0)
4           Austria  2019  Overweight   52.2  NaN  ESTAT:SDG_02_10(1.0)
..              ...   ...         ...    ...  ...                   ...
151         Türkiye  2014  Overweight   56.5  NaN  ESTAT:SDG_02_10(1.0)
152         Türkiye  2019  Overweight   58.8  NaN  ESTAT:SDG_02_10(1.0)
153         Türkiye  2022  Overweight   58.5  NaN  ESTAT:SDG_02_10(1.0)
154  United Kingdom  2014  Overweight   55.7  NaN  ESTAT:SDG_02_10(1.0)
155  United Kingdom  2017  Overweight   56.1    u  ESTAT:SDG_02_10(1.0)

[156 rows x 6 columns]

## SDG 11: Sustainable Cities and Communities
[Share of buses and trains in inland passenger transport](https://ec.europa.eu/eurostat/databrowser/view/sdg_09_50/default/table?lang=en&category=sdg.sdg_11)

In [7]:
df_11 = pd.read_csv('raw_data/sdg_11.csv')
df_11

,DATAFLOW,LAST UPDATE,freq,unit,vehicle,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2000,20.8,NaN,NaN
1,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2001,20.6,NaN,NaN
2,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2002,20.6,NaN,NaN
3,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2003,20.5,NaN,NaN
4,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",Austria,2004,20.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
820,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2015,13.9,NaN,NaN
821,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2016,13.3,NaN,NaN
822,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2017,13.6,e,NaN
823,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2018,13.2,e,NaN
824,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2019,17.3,e,NaN

**country**: Country name

**year**: Year

**value**: Value

**obs**: Observation flag. (e): estimated, (b): break in time series, (m): missing

**source**: Data source / DOI

In [ ]:
df_11.columns = df_11.columns.str.lower()

df_11 = df_11.rename(columns={'geo': 'country'})
df_11 = df_11.rename(columns={'time_period': 'year'})
df_11 = df_11.rename(columns={'obs_value': 'value'})
df_11 = df_11.rename(columns={'obs_flag': 'obs'})
df_11 = df_11.rename(columns={'dataflow': 'source'})

df_11 = df_11[['country', 'year', 'value', 'obs', 'source']]

df_11.to_csv('data/sdg_11.csv', index=False)

df_11

            country  year  value flag                source
0           Austria  2000   20.8  NaN  ESTAT:SDG_09_50(1.0)
1           Austria  2001   20.6  NaN  ESTAT:SDG_09_50(1.0)
2           Austria  2002   20.6  NaN  ESTAT:SDG_09_50(1.0)
3           Austria  2003   20.5  NaN  ESTAT:SDG_09_50(1.0)
4           Austria  2004   20.4  NaN  ESTAT:SDG_09_50(1.0)
..              ...   ...    ...  ...                   ...
820  United Kingdom  2015   13.9  NaN  ESTAT:SDG_09_50(1.0)
821  United Kingdom  2016   13.3  NaN  ESTAT:SDG_09_50(1.0)
822  United Kingdom  2017   13.6    e  ESTAT:SDG_09_50(1.0)
823  United Kingdom  2018   13.2    e  ESTAT:SDG_09_50(1.0)
824  United Kingdom  2019   17.3    e  ESTAT:SDG_09_50(1.0)

[825 rows x 5 columns]