In [1]:
import os
import pandas as pd

dir0 = 'data0/'
dir1 = 'data1/'

def rename_columns(dir0, dir1):
    for file in os.listdir(dir0):
        if file.endswith('.csv'):
            df = pd.read_csv(dir0 + file)
            if file == 'policies.csv':
                df.to_json('json_files/' + file.replace('.csv', '.json'), orient='records')
                continue

            df.columns = df.columns.str.lower()
            df.rename(columns={'geo': 'country', 'time_period': 'year', 'obs_value': 'value'}, inplace=True)
            df.drop(columns=['dataflow', 'last update', 'freq', 'obs_flag', 'conf_status'], inplace=True, errors='ignore')

            df = df[~df['country'].isin(['Türkiye', 'Iceland', 'Switzerland', 'Norway', 'Montenegro', 'North Macedonia', 'Serbia', 'Albania', 'Bosnia and Herzegovina', 'Kosovo*', 'Liechtenstein', 'Moldova', 'United Kingdom'])]

            # Rename
            df['country'] = df['country'].replace('Czechia', 'Czech Republic')
            df['country'] = df['country'].replace('European Union - 27 countries (from 2020)', 'EU')
            df['country'] = df['country'].replace('European Union (aggregate changing according to the context)', 'EU')


            # Remove
            df = df[df['country'] != 'European Union - 28 countries (2013-2020)']
            df = df[df['country'] != 'Euro area – 20 countries (from 2023)']
            df = df[df['country'] != 'European Commission']
            df = df[df['country'] != 'European Investment Bank (EIB)']

            countries_eu = ['EU', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']
            countries_not_eu = df[~df['country'].isin(countries_eu)]['country'].unique()
            if len(countries_not_eu) > 0:
                print(file, countries_not_eu)

            
            if 'unit' in df.columns:
                pivot_index = ['country', 'unit']
                main_columns = ['indicator', 'country', 'unit']
            else:
                pivot_index = ['country']
                main_columns = ['indicator', 'country']
                
            df_wide = df.pivot_table(index=pivot_index, columns='year', values='value', aggfunc='first').reset_index()

            df_wide['indicator'] = file.replace('.csv', '')
            
            year_columns = sorted([col for col in df_wide.columns if col not in main_columns])
            df_wide = df_wide[main_columns + year_columns]
            
            df_wide.to_csv(dir1 + file, index=False)
            df_wide.to_json('json_files/' + file.replace('.csv', '.json'), orient='records')

rename_columns(dir0, dir1)

In [20]:
import pandas as pd

# Import policies.csv
df = pd.read_csv('policies.csv')
df

,country,year,policy,description,status,sector,source
0,Austria,2005,EU Emission Trading Scheme (ETS),The objective is to limit the CO2 emission fro...,Implemented,Energy consumption; Energy supply; Industrial ...,https://discomap.eea.europa.eu/map/GHG_PAMS/Au...
1,Austria,1993,Domestic Environmental Support Scheme,The objective of the Domestic Environmental Su...,Implemented,Energy consumption; Energy supply; Transport,https://discomap.eea.europa.eu/map/GHG_PAMS/Au...
2,Austria,2007,Austrian Climate and Energy Fund,"In 2007, the Federal Government established a ...",Implemented,Energy supply; Transport,https://discomap.eea.europa.eu/map/GHG_PAMS/Au...
3,Austria,2002,Increase the share of renewable energy in powe...,Beyond the traditional use of large-scale hydr...,Implemented,Energy supply,https://discomap.eea.europa.eu/map/GHG_PAMS/Au...
4,Austria,2008,Increase energy efficiency in energy and manuf...,"Based on EU legislation, Austria has implement...",Implemented,Energy consumption; Energy supply,https://discomap.eea.europa.eu/map/GHG_PAMS/Au...
...,...,...,...,...,...,...,...
3027,Switzerland,2014,Investment aids,"Investment aids apply to photovoltaics, wind, ...",Implemented,Energy supply,https://discomap.eea.europa.eu/map/GHG_PAMS/Sw...
3028,Switzerland,2023,Non-volatile particle matter emission regulati...,Coated soot particle emissions are directly co...,Adopted,Transport,https://discomap.eea.europa.eu/map/GHG_PAMS/Sw...
3029,Switzerland,2025,Sustainable aviation fuel policy,Introduction of sustainable aviation fuel with...,Planned,Transport,https://discomap.eea.europa.eu/map/GHG_PAMS/Sw...
3030,Switzerland,2022,Obligations in relation to chemical conversion...,N2O generated as a by-product must be converte...,Implemented,Industrial processes,https://discomap.eea.europa.eu/map/GHG_PAMS/Sw...
3031,Switzerland,2022,Enhancement of label standards,Admission of technical measures into the label...,Planned,Agriculture,https://discomap.eea.europa.eu/map/GHG_PAMS/Sw...

In [ ]:
# Print all "sector" values, separated by semicolon
sectors = df['sector'].unique().tolist()
sectors.sort()

# Have only the first part before ;
df['sector'] = df['sector'].str.split(';').str[0]

print(df['sector'].unique())

['Energy consumption' 'Energy supply' 'Transport' 'Industrial processes'
 'Agriculture' 'LULUCF' 'Waste management/waste' 'Other sectors']

In [82]:
file_name = 'Water_exploitation_index'

# read first file from data1
df = pd.read_csv('data1/' + file_name + '.csv')

df['sector'] = 'Energy consumption'

df.head()

,indicator,country,unit,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,sector
0,Water_exploitation_index,Austria,Percentage,1.25,1.36,1.26,1.67,1.51,1.56,1.60,...,1.75,2.13,1.88,2.10,2.05,0.63,1.79,2.00,2.12,Energy consumption
1,Water_exploitation_index,Belgium,Percentage,7.12,5.62,6.32,10.47,11.75,10.94,7.68,...,3.86,3.74,3.55,5.26,4.22,4.21,3.82,3.27,5.19,Energy consumption
2,Water_exploitation_index,Bulgaria,Percentage,1.44,1.10,0.99,1.48,1.01,0.79,0.95,...,0.63,0.76,0.93,1.13,0.84,0.99,1.02,0.91,1.21,Energy consumption
3,Water_exploitation_index,Croatia,Percentage,0.18,0.17,0.15,0.16,0.15,0.18,0.18,...,0.10,0.15,0.13,0.21,0.20,0.20,0.25,0.24,0.26,Energy consumption
4,Water_exploitation_index,Cyprus,Percentage,59.54,63.81,72.14,70.20,76.76,75.42,69.11,...,68.05,71.61,71.19,70.86,69.17,66.74,71.08,71.18,71.04,Energy consumption

In [83]:
df.to_csv('data1/' + file_name + '.csv', index=False)

In [22]:
import os
import pandas as pd

dir1 = 'data1/'

def update_eu_data(dir1):
    for file in os.listdir(dir1):
        if file.endswith('.csv'):
            df = pd.read_csv(dir1 + file)

            years = [col for col in df.columns if col.isnumeric()]

            for col in years:
                avg = df.loc[df['country'] != 'EU', col].mean()
                df.loc[df['country'] == 'EU', col] = avg
            
            print(df)
            df.to_csv(dir1 + file, index=False)
        
update_eu_data(dir1)

                                     indicator      country       2011  \
0   Bathing_sites_with_excellent_water_quality      Belgium  40.500000
1   Bathing_sites_with_excellent_water_quality     Bulgaria  50.600000
2   Bathing_sites_with_excellent_water_quality      Croatia  97.800000
3   Bathing_sites_with_excellent_water_quality       Cyprus  99.100000
4   Bathing_sites_with_excellent_water_quality      Denmark  65.000000
5   Bathing_sites_with_excellent_water_quality           EU  75.295455
6   Bathing_sites_with_excellent_water_quality      Estonia  48.200000
7   Bathing_sites_with_excellent_water_quality      Finland  70.200000
8   Bathing_sites_with_excellent_water_quality       France  65.400000
9   Bathing_sites_with_excellent_water_quality      Germany  75.300000
10  Bathing_sites_with_excellent_water_quality       Greece  94.700000
11  Bathing_sites_with_excellent_water_quality      Ireland  84.100000
12  Bathing_sites_with_excellent_water_quality        Italy  83.000000
13  Bathing_sites_with_excellent_water_quality       Latvia  43.800000
14  Bathing_sites_with_excellent_water_quality    Lithuania  81.300000
15  Bathing_sites_with_excellent_water_quality        Malta  97.700000
16  Bathing_sites_with_excellent_water_quality  Netherlands  67.800000
17  Bathing_sites_with_excellent_water_quality       Poland  80.900000
18  Bathing_sites_with_excellent_water_quality     Portugal  88.400000
19  Bathing_sites_with_excellent_water_quality      Romania  87.800000
20  Bathing_sites_with_excellent_water_quality     Slovenia  95.200000
21  Bathing_sites_with_excellent_water_quality        Spain  84.700000
22  Bathing_sites_with_excellent_water_quality       Sweden  55.000000

          2012        2013        2014        2015        2016        2017  \
0    52.400000   47.600000   69.100000   76.200000   90.500000   95.200000
1    61.800000   65.600000   72.200000   70.000000   63.300000   45.100000
2    96.100000   95.400000   96.400000   96.600000   96.400000   95.800000
3   100.000000  100.000000  100.000000   99.100000   99.100000   97.400000
4    71.100000   75.200000   77.300000   84.500000   85.200000   85.900000
5    72.754545   75.577273   75.413636   77.036364   81.372727   79.190909
6    40.700000   42.300000   37.000000   40.700000   51.900000   51.900000
7    70.200000   65.900000   63.000000   62.300000   58.400000   68.800000
8    66.300000   75.600000   77.300000   78.500000   79.100000   79.800000
9    79.500000   79.000000   78.800000   76.300000   80.400000   82.800000
10   93.400000   93.400000   97.100000   97.200000   97.100000   96.000000
11   66.100000   84.900000   74.800000   72.700000   71.800000   70.700000
12   86.300000   88.500000   90.000000   90.400000   90.800000   89.900000
13   37.500000   51.500000   63.600000   69.700000   84.900000   93.900000
14   81.300000   81.300000   87.500000   87.500000   87.500000   87.500000
15   96.600000   98.900000  100.000000   97.700000   98.900000   98.900000
16   78.900000   74.200000   68.900000   75.800000   82.400000   80.200000
17   73.900000   75.900000   60.000000   55.400000   56.200000   48.500000
18   91.800000   92.200000   87.400000   89.600000   89.000000   90.600000
19    8.200000   34.700000   22.500000   30.600000   69.400000   51.000000
20  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
21   86.800000   87.200000   85.600000   87.100000   88.900000   90.500000
22   61.700000   53.400000   50.600000   56.900000   69.000000   41.800000

          2018        2019        2020       2021       2022       2023  \
0    97.600000   97.600000   95.100000  92.700000  85.400000  65.900000
1    53.900000   67.000000   63.000000  89.100000  92.400000  94.600000
2    95.600000   98.400000   98.800000  99.200000  98.900000  99.100000
3    99.100000   99.100000  100.000000  93.300000  99.200000  97.600000
4    86.800000   87.600000   90.400000  91.400000  93.900000  93.900000
5    80.468182   82.386364   81.254545  83.290909  84.359091  81.840909
6    55.600000   51.900000   48.300000  53.300000  43.300000  46.700000
7    65.800000   63.600000   71.800000  66.700000  73.100000  65.400000
8    80.000000   82.000000   79.400000  77.800000  77.600000  76.300000
9    85.500000   86.700000   83.500000  84.600000  86.500000  87.600000
10   97.100000   95.800000   97.100000  95.800000  96.600000  95.800000
11   69.900000   71.700000   74.100000  77.000000  78.400000  76.300000
12   90.000000   88.200000   88.700000  88.100000  89.800000  90.600000
13   97.000000   84.900000   69.700000  75.000000  81.800000  78.800000
14   87.500000  100.000000   93.800000  87.500000  87.500000  87.500000
15   98.900000   97.700000   96.600000  96.600000  94.300000  92.000000
16   73.600000   76.700000   75.800000  82.200000  85.700000  80.200000
17   30.800000   29.500000   30.700000  43.500000  50.800000  55.100000
18   94.400000   95.600000   93.300000  92.400000  90.800000  91.900000
19   57.100000   77.600000   71.400000  85.700000  91.800000  69.400000
20  100.000000   95.200000   95.200000  95.200000  95.200000  95.200000
21   92.200000   93.200000   93.500000  92.100000  92.800000  92.200000
22   61.900000   72.500000   77.400000  73.200000  70.100000  68.400000

           sector
0   Other sectors
1   Other sectors
2   Other sectors
3   Other sectors
4   Other sectors
5   Other sectors
6   Other sectors
7   Other sectors
8   Other sectors
9   Other sectors
10  Other sectors
11  Other sectors
12  Other sectors
13  Other sectors
14  Other sectors
15  Other sectors
16  Other sectors
17  Other sectors
18  Other sectors
19  Other sectors
20  Other sectors
21  Other sectors
22  Other sectors
                       indicator         country               unit  \
0   Net_greenhouse_gas_emissions         Austria  Tonnes per capita
1   Net_greenhouse_gas_emissions         Belgium  Tonnes per capita
2   Net_greenhouse_gas_emissions        Bulgaria  Tonnes per capita
3   Net_greenhouse_gas_emissions         Croatia  Tonnes per capita
4   Net_greenhouse_gas_emissions          Cyprus  Tonnes per capita
5   Net_greenhouse_gas_emissions  Czech Republic  Tonnes per capita
6   Net_greenhouse_gas_emissions         Denmark  Tonnes per capita
7   Net_greenhouse_gas_emissions              EU  Tonnes per capita
8   Net_greenhouse_gas_emissions         Estonia  Tonnes per capita
9   Net_greenhouse_gas_emissions         Finland  Tonnes per capita
10  Net_greenhouse_gas_emissions          France  Tonnes per capita
11  Net_greenhouse_gas_emissions         Germany  Tonnes per capita
12  Net_greenhouse_gas_emissions          Greece  Tonnes per capita
13  Net_greenhouse_gas_emissions         Hungary  Tonnes per capita
14  Net_greenhouse_gas_emissions         Ireland  Tonnes per capita
15  Net_greenhouse_gas_emissions           Italy  Tonnes per capita
16  Net_greenhouse_gas_emissions          Latvia  Tonnes per capita
17  Net_greenhouse_gas_emissions       Lithuania  Tonnes per capita
18  Net_greenhouse_gas_emissions      Luxembourg  Tonnes per capita
19  Net_greenhouse_gas_emissions           Malta  Tonnes per capita
20  Net_greenhouse_gas_emissions     Netherlands  Tonnes per capita
21  Net_greenhouse_gas_emissions          Poland  Tonnes per capita
22  Net_greenhouse_gas_emissions        Portugal  Tonnes per capita
23  Net_greenhouse_gas_emissions         Romania  Tonnes per capita
24  Net_greenhouse_gas_emissions        Slovakia  Tonnes per capita
25  Net_greenhouse_gas_emissions        Slovenia  Tonnes per capita
26  Net_greenhouse_gas_emissions           Spain  Tonnes per capita
27  Net_greenhouse_gas_emissions          Sweden  Tonnes per capita

         1990      1991       1992       1993       1994       1995  \
0    8.900000   8.40000   8.700000   7.700000   8.700000   7.800000
1   14.700000  14.90000  14.800000  14.600000  15.000000  15.200000
2    9.400000   7.40000   6.900000   6.900000   6.400000   6.600000
3    5.500000   3.90000   3.500000   3.500000   3.200000   3.300000
4   10.600000  11.40000  11.800000  11.700000  11.900000  11.700000
5   18.700000  16.80000  16.100000  15.400000  14.700000  14.500000
6   15.600000  17.50000  16.500000  16.600000  17.200000  16.600000
7   11.807407  11.27037  10.537037  10.174074  10.151852   9.844444
8   22.400000  20.80000  15.000000  11.100000  11.900000  10.500000
9    9.900000   6.90000   7.800000   8.000000  10.400000   9.900000
10   9.100000   9.50000   9.300000   8.900000   8.700000   8.700000
11  16.300000  14.90000  14.100000  13.900000  13.700000  13.700000
12  10.200000  10.10000  10.100000  10.000000  10.200000  10.300000
13   8.900000   8.40000   7.300000   7.100000   7.100000   7.000000
14  17.500000  17.60000  17.400000  17.700000  18.000000  18.600000
15   9.200000   9.00000   9.000000   9.100000   8.800000   9.100000
16   5.200000   4.40000   2.400000   1.100000  -0.800000  -0.900000
17  11.700000  12.10000   7.100000   5.000000   4.800000   4.900000
18  34.400000  35.40000  33.300000  32.900000  31.000000  24.700000
19   7.900000   7.30000   7.500000   9.000000   8.500000   8.000000
20  15.600000  16.00000  15.900000  15.900000  15.900000  15.800000
21  11.800000  11.60000  11.800000  11.500000  11.400000  11.100000
22   6.800000   6.00000   5.800000   5.500000   5.700000   6.000000
23  10.000000   8.00000   7.400000   6.900000   6.800000   7.100000
24  12.200000  10.30000   9.100000   8.500000   8.100000   8.200000
25   7.200000   6.40000   6.300000   6.500000   6.600000   6.900000
26   6.600000   6.80000   7.100000   6.700000   7.100000   7.500000
27   2.500000   2.50000   2.500000   3.000000   3.100000   3.000000

         1996  ...       2014       2015       2016       2017       2018  \
0    8.300000  ...   8.400000   8.700000   8.600000   9.300000   9.800000
1   15.600000  ...  10.500000  10.900000  10.700000  10.700000  10.700000
2    6.800000  ...   7.000000   7.600000   7.100000   7.400000   6.900000
3    3.500000  ...   4.800000   5.000000   5.200000   5.700000   5.400000
4   12.000000  ...  10.300000  10.400000  11.100000  11.200000  11.000000
5   14.900000  ...  11.500000  11.700000  11.900000  12.100000  12.400000
6   18.900000  ...   9.900000   9.200000   9.700000   9.200000   9.400000
7   10.174074  ...   8.511111   8.474074   8.574074   8.840741   8.874074
8   11.200000  ...  16.300000  14.400000  16.400000  17.200000  17.900000
9    9.900000  ...   7.800000   8.000000   9.200000   9.100000  11.000000
10   8.900000  ...   6.400000   6.500000   6.600000   6.800000   6.400000
11  13.800000  ...  11.200000  11.200000  11.100000  10.900000  10.600000
12  10.600000  ...   9.400000   8.800000   8.500000   8.900000   8.600000
13   7.500000  ...   5.500000   5.800000   6.000000   6.200000   6.300000
14  18.900000  ...  13.900000  14.500000  14.600000  14.800000  14.500000
15   9.000000  ...   6.600000   6.800000   6.800000   7.100000   6.600000
16  -0.900000  ...   6.400000   5.800000   4.900000   4.300000   5.900000
17   6.800000  ...   3.800000   4.300000   4.600000   4.900000   5.200000
18  24.600000  ...  20.800000  19.900000  19.100000  19.500000  20.000000
19   8.200000  ...   7.400000   5.700000   4.900000   5.200000   5.200000
20  16.500000  ...  12.100000  12.500000  12.500000  12.200000  11.800000
21  11.000000  ...   9.100000   9.200000   9.400000   9.700000   9.800000
22   5.900000  ...   5.900000   6.500000   6.800000   9.300000   6.600000
23   7.300000  ...   3.500000   3.500000   3.300000   3.600000   3.700000
24   8.200000  ...   6.500000   6.600000   6.700000   6.900000   7.000000
25   6.900000  ...   8.400000   8.500000   9.000000   9.000000   8.900000
26   7.200000  ...   6.300000   6.500000   6.300000   6.500000   6.400000
27   3.200000  ...   0.100000   0.300000   0.500000   1.000000   1.600000

         2019       2020       2021       2022              sector
0    9.600000   7.800000   7.500000   7.800000  Energy consumption
1   10.600000   9.600000   9.900000   9.300000  Energy consumption
2    6.800000   5.900000   6.900000   7.700000  Energy consumption
3    5.400000   5.100000   5.200000   5.500000  Energy consumption
4   10.900000   9.600000  10.100000  10.200000  Energy consumption
5   12.400000  11.600000  12.000000  11.400000  Energy consumption
6    8.600000   7.700000   7.700000   7.400000  Energy consumption
7    8.355556   7.340741   7.744444   7.618519  Energy consumption
8   13.600000   9.500000  10.200000  10.700000  Energy consumption
9    9.400000   7.800000   9.400000   9.300000  Energy consumption
10   6.400000   5.600000   5.900000   5.700000  Energy consumption
11   9.900000   9.000000   9.400000   9.300000  Energy consumption
12   7.900000   6.700000   7.100000   7.400000  Energy consumption
13   6.200000   5.800000   5.900000   5.600000  Energy consumption
14  13.800000  12.900000  13.200000  13.000000  Energy consumption
15   6.600000   6.000000   6.700000   6.700000  Energy consumption
16   5.100000   6.000000   7.000000   8.300000  Energy consumption
17   5.200000   5.000000   5.300000   4.600000  Energy consumption
18  19.600000  16.200000  16.700000  14.500000  Energy consumption
19   5.200000   4.400000   4.500000   5.000000  Energy consumption
20  11.400000  10.100000  10.200000   9.500000  Energy consumption
21   9.700000   9.300000  10.200000   9.400000  Energy consumption
22   6.200000   5.200000   5.000000   5.200000  Energy consumption
23   3.600000   3.200000   3.500000   3.300000  Energy consumption
24   6.400000   5.500000   6.300000   5.500000  Energy consumption
25   7.900000   7.400000   7.500000   7.300000  Energy consumption
26   6.000000   4.900000   5.300000   5.500000  Energy consumption
27   1.200000   0.400000   0.500000   0.600000  Energy consumption

[28 rows x 37 columns]
                                            indicator         country  \
0   Gross_value_added_in_environmental_goods_and_s...         Austria
1   Gross_value_added_in_environmental_goods_and_s...         Belgium
2   Gross_value_added_in_environmental_goods_and_s...        Bulgaria
3   Gross_value_added_in_environmental_goods_and_s...         Croatia
4   Gross_value_added_in_environmental_goods_and_s...          Cyprus
5   Gross_value_added_in_environmental_goods_and_s...  Czech Republic
6   Gross_value_added_in_environmental_goods_and_s...         Denmark
7   Gross_value_added_in_environmental_goods_and_s...              EU
8   Gross_value_added_in_environmental_goods_and_s...         Estonia
9   Gross_value_added_in_environmental_goods_and_s...         Finland
10  Gross_value_added_in_environmental_goods_and_s...          France
11  Gross_value_added_in_environmental_goods_and_s...         Germany
12  Gross_value_added_in_environmental_goods_and_s...          Greece
13  Gross_value_added_in_environmental_goods_and_s...         Hungary
14  Gross_value_added_in_environmental_goods_and_s...         Ireland
15  Gross_value_added_in_environmental_goods_and_s...           Italy
16  Gross_value_added_in_environmental_goods_and_s...          Latvia
17  Gross_value_added_in_environmental_goods_and_s...       Lithuania
18  Gross_value_added_in_environmental_goods_and_s...      Luxembourg
19  Gross_value_added_in_environmental_goods_and_s...           Malta
20  Gross_value_added_in_environmental_goods_and_s...     Netherlands
21  Gross_value_added_in_environmental_goods_and_s...          Poland
22  Gross_value_added_in_environmental_goods_and_s...        Portugal
23  Gross_value_added_in_environmental_goods_and_s...         Romania
24  Gross_value_added_in_environmental_goods_and_s...        Slovakia
25  Gross_value_added_in_environmental_goods_and_s...        Slovenia
26  Gross_value_added_in_environmental_goods_and_s...           Spain
27  Gross_value_added_in_environmental_goods_and_s...          Sweden

                                          unit  2000  2001  2002  2003  2004  \
0   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
1   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
2   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
3   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
4   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
5   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
6   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
7   Percentage of gross domestic product (GDP)   NaN  1.64  1.66  1.68  1.66
8   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
9   Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
10  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
11  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
12  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
13  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
14  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
15  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
16  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
17  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
18  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
19  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
20  Percentage of gross domestic product (GDP)   NaN  1.64  1.66  1.68  1.66
21  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
22  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
23  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
24  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
25  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
26  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN
27  Percentage of gross domestic product (GDP)   NaN   NaN   NaN   NaN   NaN

    2005  2006  ...      2015     2016    2017      2018      2019      2020  \
0    NaN   NaN  ...  4.110000  4.30000  4.3600  4.570000  4.570000  4.700000
1    NaN   NaN  ...  1.690000  1.70000  1.7400  1.790000  1.790000  1.970000
2    NaN   NaN  ...  2.240000  2.36000  2.3600  2.340000  2.230000  2.490000
3    NaN   NaN  ...  1.560000  1.51000  1.4800  1.750000  1.700000  1.770000
4    NaN   NaN  ...       NaN      NaN     NaN  1.930000  1.910000  1.760000
5    NaN   NaN  ...  2.430000  2.36000  2.2800  2.260000  2.270000  2.730000
6    NaN   NaN  ...  3.000000  3.18000  3.2600  3.280000  3.450000  3.260000
7   1.64  1.71  ...  2.458261  2.48625  2.4396  2.348889  2.398519  2.578148
8    NaN   NaN  ...  4.350000  4.78000  4.6200  4.460000  4.300000  4.180000
9    NaN   NaN  ...  6.090000  6.19000  6.3100  5.470000  5.540000  5.800000
10   NaN   NaN  ...  2.040000  1.99000  2.0200  2.100000  2.100000  2.170000
11   NaN   NaN  ...  1.770000  1.81000  1.8800  1.920000  1.920000  2.200000
12   NaN   NaN  ...  1.750000  1.71000  1.6700  1.780000  2.030000  2.240000
13   NaN   NaN  ...       NaN      NaN  0.8300  0.660000  0.640000  0.590000
14   NaN   NaN  ...  0.690000  0.80000  0.9300  1.000000  0.990000  0.920000
15   NaN   NaN  ...       NaN  2.12000  2.1900  2.290000  2.270000  2.430000
16   NaN   NaN  ...  2.880000  2.83000  2.9200  2.280000  2.420000  2.810000
17   NaN   NaN  ...  2.200000  2.31000  2.4100  2.350000  2.640000  2.930000
18   NaN   NaN  ...  1.690000  1.86000  1.9600  2.220000  2.700000  2.880000
19   NaN   NaN  ...  1.110000  1.06000  0.9400  0.910000  0.940000  0.980000
20  1.64  1.71  ...  2.190000  2.24000  2.3200  2.310000  2.400000  3.260000
21   NaN   NaN  ...  2.480000  2.35000  2.3700  2.180000  2.350000  2.470000
22   NaN   NaN  ...  2.240000  2.30000  2.2700  2.250000  2.200000  2.490000
23   NaN   NaN  ...  2.680000  2.50000  2.3600  2.570000  2.490000  2.620000

/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6519.259259259259' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6060.962962962963' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6316.37037037037' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6230.407407407408' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6292.62962962963' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6465.037037037037' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6562.666666666667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6054.740740740741' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6291.222222222223' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '258.14814814814815' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '240.37037037037038' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '376.6666666666667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '318.44444444444446' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '135.33333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '139.85185185185185' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '621.1481481481482' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '89.18518518518519' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '197.92592592592592' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1225.4814814814815' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '105.33333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '305.3333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '236.85185185185185' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '775.4074074074074' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '265.44444444444446' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '593.3333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '182.40740740740742' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1359.3703703703704' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '853.4444444444445' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '189.11111111111111' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1693.3333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1051.2222222222222' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '178.37037037037038' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '779.7407407407408' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '158.74074074074073' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '419.51851851851853' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '219.07407407407408' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '298.6296296296296' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '261.77777777777777' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '163.88888888888889' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '861.925925925926' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '512.8148148148148' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '462.81481481481484' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '388.1111111111111' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1182.888888888889' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '894.1481481481482' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '987.5925925925926' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '568.6296296296297' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2332.6666666666665' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2072.5185185185187' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg
/var/folders/48/jjk7q1v14vj5tssyzvrpzs5r0000gn/T/ipykernel_40155/2046613561.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1625.148148148148' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['country'] == 'EU', col] = avg