In [152]:
import pandas as pd

## SDG 3: Good Health and Well-being
[Smoking Prevalance by Sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_03_30/default/table?lang=en&category=sdg.sdg_03)

In [153]:
df_3 = pd.read_csv('raw_data/sdg_3.csv')
df_3.columns = df_3.columns.str.lower()
df_3

,dataflow,last update,freq,age,sex,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Females,Percentage of total population,Austria,2006,24,NaN,NaN
1,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Females,Percentage of total population,Austria,2009,27,NaN,NaN
2,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Females,Percentage of total population,Austria,2012,26,NaN,NaN
3,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Females,Percentage of total population,Austria,2014,23,NaN,NaN
4,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Females,Percentage of total population,Austria,2017,23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
538,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Total,Percentage of total population,United Kingdom,2009,28,NaN,NaN
539,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Total,Percentage of total population,United Kingdom,2012,27,NaN,NaN
540,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Total,Percentage of total population,United Kingdom,2014,22,NaN,NaN
541,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Total,Percentage of total population,United Kingdom,2017,17,NaN,NaN
542,ESTAT:SDG_03_30(1.0),19/04/24 23:00:00,Annual,15 years or over,Total,Percentage of total population,United Kingdom,2020,12,NaN,NaN

In [154]:
df_3 = df_3.rename(columns={'geo': 'country'})
df_3 = df_3.rename(columns={'time_period': 'year'})
df_3 = df_3.rename(columns={'unit': 'unit3'})
df_3 = df_3.rename(columns={'obs_value': 'smoking'})

df_3 = df_3[['country', 'year', 'unit3', 'sex', 'smoking']]

df_3.to_csv('data/sdg_3.csv', index=False)

df_3

            country  year                           unit3      sex  smoking
0           Austria  2006  Percentage of total population  Females       24
1           Austria  2009  Percentage of total population  Females       27
2           Austria  2012  Percentage of total population  Females       26
3           Austria  2014  Percentage of total population  Females       23
4           Austria  2017  Percentage of total population  Females       23
..              ...   ...                             ...      ...      ...
538  United Kingdom  2009  Percentage of total population    Total       28
539  United Kingdom  2012  Percentage of total population    Total       27
540  United Kingdom  2014  Percentage of total population    Total       22
541  United Kingdom  2017  Percentage of total population    Total       17
542  United Kingdom  2020  Percentage of total population    Total       12

[543 rows x 5 columns]

## SDG 5: Gender Equality

[Persons outside the labour force due to caring responsibilities by sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_05_40/default/table?lang=en&category=sdg.sdg_05)

In [155]:
df_5 = pd.read_csv('raw_data/sdg_5.csv')
df_5.columns = df_5.columns.str.lower()
df_5

,dataflow,last update,freq,reason,sex,age,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2006,1.5,NaN,NaN
1,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2007,1.5,b,NaN
2,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2008,1.6,NaN,NaN
3,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2009,1.5,NaN,NaN
4,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Females,From 20 to 64 years,Percentage of total population,Austria,2010,1.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1888,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2015,1.1,NaN,NaN
1889,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2016,1.1,NaN,NaN
1890,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2017,0.9,NaN,NaN
1891,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2018,0.8,NaN,NaN
1892,ESTAT:SDG_05_40(1.0),12/12/24 23:00:00,Annual,Care of adults with disabilities or children,Total,From 20 to 64 years,Percentage of total population,United Kingdom,2019,0.8,NaN,NaN

In [156]:
df_5 = df_5.rename(columns={'geo': 'country'})
df_5 = df_5.rename(columns={'time_period': 'year'})
df_5 = df_5.rename(columns={'unit': 'unit5'})
df_5 = df_5.rename(columns={'obs_value': 'outside_labour_caring'})

df_5 = df_5[['country', 'year', 'unit5', 'sex', 'outside_labour_caring']]

df_5.to_csv('data/sdg_5.csv', index=False)

df_5

,country,year,unit5,sex,outside_labour_caring
0,Austria,2006,Percentage of total population,Females,1.5
1,Austria,2007,Percentage of total population,Females,1.5
2,Austria,2008,Percentage of total population,Females,1.6
3,Austria,2009,Percentage of total population,Females,1.5
4,Austria,2010,Percentage of total population,Females,1.3
...,...,...,...,...,...
1888,United Kingdom,2015,Percentage of total population,Total,1.1
1889,United Kingdom,2016,Percentage of total population,Total,1.1
1890,United Kingdom,2017,Percentage of total population,Total,0.9
1891,United Kingdom,2018,Percentage of total population,Total,0.8
1892,United Kingdom,2019,Percentage of total population,Total,0.8

## SDG 8: Decent Work and Economic Growth

[Young people neither in employment nor in education or training (NEET) by sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_08_20/default/table?lang=en&category=sdg.sdg_08)

In [157]:
df_8 = pd.read_csv('raw_data/sdg_8.csv')
df_8.columns = df_8.columns.str.lower()
df_8

,dataflow,last update,freq,sex,age,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2009,11.9,NaN,NaN
1,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2010,11.2,NaN,NaN
2,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2011,10.4,NaN,NaN
3,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2012,10.1,NaN,NaN
4,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Females,From 15 to 29 years,Percentage of total population,Austria,2013,10.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1606,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,TÃ¼rkiye,2019,29.5,NaN,NaN
1607,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,TÃ¼rkiye,2020,32.0,NaN,NaN
1608,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,TÃ¼rkiye,2021,28.4,b,NaN
1609,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,TÃ¼rkiye,2022,27.2,NaN,NaN
1610,ESTAT:SDG_08_20(1.0),12/12/24 23:00:00,Annual,Total,From 15 to 29 years,Percentage of total population,TÃ¼rkiye,2023,25.8,NaN,NaN

In [158]:
df_8 = df_8.rename(columns={'geo': 'country'})
df_8 = df_8.rename(columns={'time_period': 'year'})
df_8 = df_8.rename(columns={'unit': 'unit8'})
df_8 = df_8.rename(columns={'obs_value': 'not_emp_edu'})

df_8 = df_8[['country', 'year', 'unit8', 'sex', 'not_emp_edu']]

df_8.to_csv('data/sdg_8.csv', index=False)

df_8

      country  year                           unit8      sex  not_emp_edu
0     Austria  2009  Percentage of total population  Females         11.9
1     Austria  2010  Percentage of total population  Females         11.2
2     Austria  2011  Percentage of total population  Females         10.4
3     Austria  2012  Percentage of total population  Females         10.1
4     Austria  2013  Percentage of total population  Females         10.3
...       ...   ...                             ...      ...          ...
1606  TÃ¼rkiye  2019  Percentage of total population    Total         29.5
1607  TÃ¼rkiye  2020  Percentage of total population    Total         32.0
1608  TÃ¼rkiye  2021  Percentage of total population    Total         28.4
1609  TÃ¼rkiye  2022  Percentage of total population    Total         27.2
1610  TÃ¼rkiye  2023  Percentage of total population    Total         25.8

[1611 rows x 5 columns]

## SDG 9: Industry, Innovation, and Infrastructure

[Share of buses and trains in inland passenger transport](https://ec.europa.eu/eurostat/databrowser/view/sdg_09_50/default/map?lang=en&category=sdg.sdg_09)

In [159]:
df_9 = pd.read_csv('raw_data/sdg_9.csv')
df_9.columns = df_9.columns.str.lower()
df_9

,dataflow,last update,freq,unit,vehicle,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2000,11.0,NaN,NaN
1,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2001,10.9,NaN,NaN
2,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2002,10.9,NaN,NaN
3,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2003,10.9,NaN,NaN
4,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Motor coaches, buses and trolley buses",Austria,2004,11.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2470,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2015,13.9,NaN,NaN
2471,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2016,13.3,NaN,NaN
2472,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2017,13.6,e,NaN
2473,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2018,13.2,e,NaN
2474,ESTAT:SDG_09_50(1.0),25/07/24 23:00:00,Annual,Percentage,"Trains, motor coaches, buses and trolley buses...",United Kingdom,2019,17.3,e,NaN

In [160]:
df_9 = df_9.rename(columns={'geo': 'country'})
df_9 = df_9.rename(columns={'time_period': 'year'})
df_9 = df_9.rename(columns={'unit': 'unit9'})
df_9 = df_9.rename(columns={'obs_value': 'bus_train'})

df_9 = df_9[['country', 'year', 'unit9', 'vehicle', 'bus_train']]

df_9.to_csv('data/sdg_9.csv', index=False)

df_9

,country,year,unit9,vehicle,bus_train
0,Austria,2000,Percentage,"Motor coaches, buses and trolley buses",11.0
1,Austria,2001,Percentage,"Motor coaches, buses and trolley buses",10.9
2,Austria,2002,Percentage,"Motor coaches, buses and trolley buses",10.9
3,Austria,2003,Percentage,"Motor coaches, buses and trolley buses",10.9
4,Austria,2004,Percentage,"Motor coaches, buses and trolley buses",11.0
...,...,...,...,...,...
2470,United Kingdom,2015,Percentage,"Trains, motor coaches, buses and trolley buses...",13.9
2471,United Kingdom,2016,Percentage,"Trains, motor coaches, buses and trolley buses...",13.3
2472,United Kingdom,2017,Percentage,"Trains, motor coaches, buses and trolley buses...",13.6
2473,United Kingdom,2018,Percentage,"Trains, motor coaches, buses and trolley buses...",13.2
2474,United Kingdom,2019,Percentage,"Trains, motor coaches, buses and trolley buses...",17.3

## SDG 11: Sustainable Cities and Communities
[Road Traffic Deaths, by type of roads](https://ec.europa.eu/eurostat/databrowser/view/sdg_11_40/default/table?lang=en&category=sdg.sdg_11)

In [161]:
df_11 = pd.read_csv('raw_data/sdg_11.csv')
df_11.columns = df_11.columns.str.lower()
df_11

,dataflow,last update,freq,tra_infr,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Motorways,Number,Austria,2000,126.0,NaN,NaN
1,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Motorways,Number,Austria,2001,156.0,NaN,NaN
2,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Motorways,Number,Austria,2002,126.0,NaN,NaN
3,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Motorways,Number,Austria,2003,106.0,NaN,NaN
4,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Motorways,Number,Austria,2004,118.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5607,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Unknown,Rate,Slovakia,2014,5.4,NaN,NaN
5608,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Unknown,Rate,Slovakia,2015,5.7,NaN,NaN
5609,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Unknown,Rate,Slovakia,2017,0.0,NaN,NaN
5610,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Unknown,Rate,Slovakia,2019,0.0,NaN,NaN
5611,ESTAT:SDG_11_40(1.0),09/01/25 23:00:00,Annual,Unknown,Rate,Slovakia,2020,0.0,NaN,NaN

In [162]:
df_11 = df_11.rename(columns={'geo': 'country'})
df_11 = df_11.rename(columns={'time_period': 'year'})
df_11 = df_11.rename(columns={'unit': 'unit11'})
df_11 = df_11.rename(columns={'tra_infr': 'traffic'})
df_11 = df_11.rename(columns={'obs_value': 'deaths'})

df_11 = df_11[['country', 'year', 'unit11', 'traffic', 'deaths']]

df_11.to_csv('data/sdg_11.csv', index=False)

df_11

       country  year  unit11    traffic  deaths
0      Austria  2000  Number  Motorways   126.0
1      Austria  2001  Number  Motorways   156.0
2      Austria  2002  Number  Motorways   126.0
3      Austria  2003  Number  Motorways   106.0
4      Austria  2004  Number  Motorways   118.0
...        ...   ...     ...        ...     ...
5607  Slovakia  2014    Rate    Unknown     5.4
5608  Slovakia  2015    Rate    Unknown     5.7
5609  Slovakia  2017    Rate    Unknown     0.0
5610  Slovakia  2019    Rate    Unknown     0.0
5611  Slovakia  2020    Rate    Unknown     0.0

[5612 rows x 5 columns]

## SDG 12: Responsible Consumption and Production

[Consumption footprint](https://ec.europa.eu/eurostat/databrowser/view/sdg_12_31/default/map?lang=en&category=sdg.sdg_12)

In [163]:
df_12 = pd.read_csv('raw_data/sdg_12.csv')
df_12.columns = df_12.columns.str.lower()
df_12

,dataflow,last update,freq,cons_fp,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2010,3.43,NaN,NaN
1,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2011,3.44,NaN,NaN
2,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2012,3.36,NaN,NaN
3,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2013,3.37,NaN,NaN
4,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Planetary Boundary,Austria,2014,3.36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
723,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2018,0.67,NaN,NaN
724,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2019,0.67,NaN,NaN
725,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2020,0.67,NaN,NaN
726,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2021,0.68,NaN,NaN
727,ESTAT:SDG_12_31(1.0),11/06/24 23:00:00,Annual,Single weighted score,Per inhabitant,Slovakia,2022,0.73,NaN,NaN

In [164]:
df_12 = df_12.rename(columns={'geo': 'country'})
df_12 = df_12.rename(columns={'time_period': 'year'})
df_12 = df_12.rename(columns={'unit': 'unit12'})
df_12 = df_12.rename(columns={'obs_value': 'consumption'})

df_12 = df_12[['country', 'year', 'unit12', 'consumption']]

df_12.to_csv('data/sdg_12.csv', index=False)

df_12

      country  year              unit12  consumption
0     Austria  2010  Planetary Boundary         3.43
1     Austria  2011  Planetary Boundary         3.44
2     Austria  2012  Planetary Boundary         3.36
3     Austria  2013  Planetary Boundary         3.37
4     Austria  2014  Planetary Boundary         3.36
..        ...   ...                 ...          ...
723  Slovakia  2018      Per inhabitant         0.67
724  Slovakia  2019      Per inhabitant         0.67
725  Slovakia  2020      Per inhabitant         0.67
726  Slovakia  2021      Per inhabitant         0.68
727  Slovakia  2022      Per inhabitant         0.73

[728 rows x 4 columns]

## SDG 16: Peace, Justice, and Strong Institutions

[Population reporting occurrence of crime](https://ec.europa.eu/eurostat/databrowser/view/sdg_16_20/default/map?lang=en&category=sdg.sdg_16)

In [165]:
df_16 = pd.read_csv('raw_data/sdg_16.csv')
df_16.columns = df_16.columns.str.lower()
df_16

,dataflow,last update,freq,hhtyp,incgrp,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2017,0.5,NaN,NaN
1,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2018,1.0,NaN,NaN
2,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2019,0.7,NaN,NaN
3,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Albania,2020,0.7,NaN,NaN
4,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Above 60% of median equivalised income,Percentage,Austria,2004,9.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1915,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2015,16.6,NaN,NaN
1916,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2016,16.8,NaN,NaN
1917,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2017,20.3,bu,NaN
1918,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,United Kingdom,2018,24.2,u,NaN
1919,ESTAT:SDG_16_20(1.0),06/12/24 23:00:00,Annual,Total,Total,Percentage,Kosovo*,2018,2.4,NaN,NaN

In [166]:
df_16 = df_16.rename(columns={'geo': 'country'})
df_16 = df_16.rename(columns={'time_period': 'year'})
df_16 = df_16.rename(columns={'unit': 'unit16'})
df_16 = df_16.rename(columns={'incgrp': 'income_group'})
df_16 = df_16.rename(columns={'obs_value': 'crime'})

df_16 = df_16[['country', 'year', 'unit16', 'income_group', 'crime']]

df_16.to_csv('data/sdg_16.csv', index=False)

df_16

,country,year,unit16,income_group,crime
0,Albania,2017,Percentage,Above 60% of median equivalised income,0.5
1,Albania,2018,Percentage,Above 60% of median equivalised income,1.0
2,Albania,2019,Percentage,Above 60% of median equivalised income,0.7
3,Albania,2020,Percentage,Above 60% of median equivalised income,0.7
4,Austria,2004,Percentage,Above 60% of median equivalised income,9.5
...,...,...,...,...,...
1915,United Kingdom,2015,Percentage,Total,16.6
1916,United Kingdom,2016,Percentage,Total,16.8
1917,United Kingdom,2017,Percentage,Total,20.3
1918,United Kingdom,2018,Percentage,Total,24.2
1919,Kosovo*,2018,Percentage,Total,2.4

In [168]:
# Merge all the dataframes together
df = pd.merge(df_3, df_5, on=['country', 'year', 'sex'], how='outer')

df = pd.merge(df, df_8, on=['country', 'year', 'sex'], how='outer')

df = pd.merge(df, df_9, on=['country', 'year'], how='outer')

df = pd.merge(df, df_11, on=['country', 'year'], how='outer')

df = pd.merge(df, df_12, on=['country', 'year'], how='outer')

df = pd.merge(df, df_16, on=['country', 'year'], how='outer')

df.to_csv('data/sdg_all.csv', index=False)

df

,country,year,unit3,sex,smoking,unit5,outside_labour_caring,unit8,not_emp_edu,unit9,vehicle,bus_train,unit11,traffic,deaths,unit12,consumption,unit16,income_group,crime
0,Albania,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,Above 60% of median equivalised income,0.5
1,Albania,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,Below 60% of median equivalised income,0.9
2,Albania,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,Total,0.6
3,Albania,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,Above 60% of median equivalised income,1.0
4,Albania,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,Below 60% of median equivalised income,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179943,United Kingdom,2019,NaN,Total,NaN,Percentage of total population,0.8,NaN,NaN,Percentage,Trains,11.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179944,United Kingdom,2019,NaN,Total,NaN,Percentage of total population,0.8,NaN,NaN,Percentage,"Trains, motor coaches, buses and trolley buses...",17.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179945,United Kingdom,2020,Percentage of total population,Females,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179946,United Kingdom,2020,Percentage of total population,Males,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179947,United Kingdom,2020,Percentage of total population,Total,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN